.input-wrapper {
	display: flex;
	flex-direction: column;

	.input-actions {
		margin-bottom: 10px;
	}

	.input-textarea {
		box-sizing: border-box;
		height: 100%;
		resize: none;
	}
}

.output-wrapper {
	padding-left: 10px;

	.output-actions {
		align-items: center;
		justify-content: start;
		margin-bottom: 10px;

		nz-select {
			width: 90px;
			margin: 0 10px;
		}

		.copy-btn {
			margin-left: auto;
		}
	}

	.output-editor-wrapper {
		display: flex;
		flex-flow: nowrap column;
		justify-content: flex-end;

		.editor {
			width: 100%;
			height: 100%;
		}

		.json-path-input {
			flex-grow: 0;
		}
	}
}
