.main-page-wrapper {
	width: 100%;
	height: 100%;

	.web-page-header {
		width: inherit;
		padding-left: 25px !important;
	}

	.main-content-wrapper {
		flex-direction: row;
		height: inherit;

		.tool-content-wrapper {
			min-width: 400px;
			height: inherit;
			padding: 10px;
			overflow-x: scroll;
		}
	}
}
