<nz-layout class="main-content-wrapper">
	<nz-header nzTheme="dark">
		<div class="logo"></div>
		<ul
			nz-menu
			nzTheme="dark"
			nzMode="horizontal">
			<li
				nz-menu-item
				nzSelected>
				nav 1
			</li>
			<li nz-menu-item>nav 2</li>
			<li nz-menu-item>nav 3</li>
		</ul>
	</nz-header>

	<nz-layout class="tools-block-wrapper">
		<nz-sider
			nzTheme="light"
			nzWidth="200px"
			class="sider"
			[nzCollapsible]="true">
			<ul
				nz-menu
				nzMode="inline">
				<li
					nz-submenu
					nzOpen
					nzIcon="file-json"
					nzTitle="Formatters">
					<ul>
						<li
							nz-menu-item
							nzSelected>
							JSON
						</li>
						<li nz-menu-item>HTML</li>
						<li nz-menu-item>CSS/LESS/SCSS</li>
						<li nz-menu-item>Nginx</li>
					</ul>
				</li>
			</ul>
		</nz-sider>
		<nz-layout class="inner-layout-wrapper">
			<nz-content>
				<router-outlet></router-outlet>
			</nz-content>
		</nz-layout>
	</nz-layout>
</nz-layout>
