.main-layout {
  max-height: 100vh;
  min-height: 100vh;

  .central-layout {
    height: 100vh;
    width: 100%;

    background-color: var(--semi-color-bg-1);

    & > .semi-layout-sider {
      .semi-layout-sider-children {
        .semi-navigation-vertical {
          height: 100%;
        }

        .semi-navigation-width {
          width: 100%;
        }
      }
    }

    & > .semi-layout-content {
      //border: red 1px solid;
    }
  }
}

.main-footer-container {
  border-top: var(--semi-color-border-1) 1px solid;

  .main-footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    color: var(--semi-color-text-2);
    background-color: var(--semi-color-bg-1);
  }
}
