.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: var(--semi-color-text-2);
  background-color: var(--semi-color-bg-1);
  border-top: var(--semi-color-border-1) 1px solid;
}

.center-container-inner {
  height: 100%;
}

.content-container {
  overflow-y: hidden;
}