<nz-row style="height: 100%">
	<!-- NOTE: Input Area -->
	<nz-col class="input-wrapper" nzSpan="10">
		<nz-row class="input-actions">
			<!-- sample action -->
			<ng-container *ngIf="actionInputSample">
				<button
					class="action"
					(click)="actionInputSample()"
					nz-button
					nzSize="default"
					nz-tooltip
					nzTooltipTitle="Sample Data">
					<span nz-icon nzType="thunder" nzTheme="outline"></span>
				</button>
			</ng-container>

			<!-- open file action -->
			<ng-container *ngIf="actionInputOpenFile">
				<button class="action" (click)="actionInputOpenFile()" nz-button nzSize="default">
					<span nz-icon nzType="open-file-folder" nzTheme="outline"></span>
					<span>File</span>
				</button>
			</ng-container>

			<!-- paste action -->
			<ng-container *ngIf="actionInputPasteFromClipboard">
				<button class="action" (click)="actionInputPasteFromClipboard()" nz-button nzSize="default">
					<span nz-icon nzType="paste-go" nzTheme="outline"></span>
					<span>Paste</span>
				</button>
			</ng-container>

			<!-- clear action -->
			<ng-container *ngIf="actionInputClear">
				<button
					class="clear-btn action"
					[disabled]="!(codeInput$ | async)"
					(click)="actionInputClear()"
					nz-button
					nzSize="default">
					<span nz-icon nzType="broom" nzTheme="outline"></span>
					<span>Clear</span>
				</button>
			</ng-container>
		</nz-row>

		<nz-row class="input-content-wrapper" #inputTextArea [fitHeight]="true" fitterElement>
			<ng-container *ngIf="LeftTopExtras">
				<div class="extras-wrapper top">
					label
					<ng-container [ngTemplateOutlet]="LeftTopExtras"></ng-container>
				</div>
			</ng-container>
			<textarea
				class="input-textarea"
				[ngModel]="codeInputModel"
				[placeholder]="inputPlaceholder"
				(ngModelChange)="codeInput$.next($event)"
				nz-input></textarea>
			<ng-container *ngIf="LeftBottomExtras">
				<div class="extras-wrapper bottom">
					<ng-container [ngTemplateOutlet]="LeftBottomExtras"></ng-container>
				</div>
			</ng-container>
		</nz-row>
	</nz-col>

	<!-- NOTE: Output Area -->
	<nz-col class="output-wrapper" [nzSpan]="14">
		<div class="output-actions" nz-row>
			<echoo-tool-options-toolbar
				[defaultSettings]="configWidgetSettings"
				[actualSettingValues]="storedSettings"
				(settingsChange)="onSettingsChange($event)"></echoo-tool-options-toolbar>
			<!-- clear action -->
			<button
				class="copy-btn"
				[disabled]="!(codeOutput$ | async) || (codeOutput$ | async) == '{}'"
				[cbContent]="(codeOutput$ | async) ?? ''"
				(cbOnSuccess)="onCopied()"
				ngxClipboard
				nz-button
				nzSize="default">
				<span nz-icon nzType="clipboard-copy" nzTheme="outline"></span>
				<span>Copy</span>
			</button>
		</div>

		<nz-row class="output-editor-wrapper" [syncHeightWith]="inputTextArea">
			<ng-container *ngIf="RightTopExtras">
				<div class="extras-wrapper top">
					<ng-container [ngTemplateOutlet]="RightTopExtras"></ng-container>
				</div>
			</ng-container>

			<nz-alert
				class="error-alert"
				*ngIf="inputError$ | async"
				[nzMessage]="(inputError$ | async) ?? ''"
				nzType="error"></nz-alert>

			<nz-code-editor
				class="editor"
				*ngIf="!(inputError$ | async)"
				[ngModel]="codeOutput$ | async"
				[nzEditorOption]="editorOptions"></nz-code-editor>

			<ng-container *ngIf="RightBottomExtras">
				<div class="extras-wrapper bottom">
					<ng-container [ngTemplateOutlet]="RightBottomExtras"></ng-container>
				</div>
			</ng-container>
		</nz-row>
	</nz-col>
</nz-row>
