
#created-img-resized {

  width: 100%;
  object-fit: scale-down;
}

.img-container {
  border: var(--semi-color-border-1) 1px solid;
  border-radius: var(--semi-border-radius-small);
  display: flex;
  justify-content: center;
  align-items: center;

}

.base64serde-tabs {
  &.mod-is-tauri {
    height: 100vh !important;

    .string-section-child {
      height: calc((100vh - 72.5px) / 2) !important;

      textarea {
        height: calc((100vh - 72.5px - 54px - 53px) / 2) !important;
      }
    }
  }

  height: calc(100vh - 109px);
  padding: 0 10px;

  .string-section-container {
    flex-direction: column;
    flex-basis: 50%;

    .string-section-child {
      height: calc((100vh - 109px - 72.5px) / 2);

      textarea {
        height: calc((100vh - 109px - 72.5px - 54px - 53px) / 2);
      }
    }
  }
}