.crontab-input-actions{ margin-top: 0}
.crontab-input-container{ margin-top: 10px; }
.crontab-explain{ margin: 5px 0 0 0}
.semi-descriptions th{
	width: 200px;
	font-weight: bold;
	:after{
		content: ': ';
	}
}
.crontab-content{
	padding: 10px 10px
}
