.content {
  margin: 10px 0;
  width: inherit;
  height: 100%;

  .outputGroup {
    width: 100%;
    height: 100%;

    .validation-error {
      width: 96%;
    }

    .json-editor {
      overflow-y: scroll;
      height: inherit;
      width: inherit;

      .cm-editor, .cm-scroller, .cm-content {
        height: 100%;
        overflow-wrap: break-word;
        border: var(--semi-color-border) 1px solid;
      }
    }
  }
}