
.cm-editor, .cm-scroller, .cm-content {
  overflow-wrap: break-word;
  height: 100%;
}

.cm-theme-light, .cm-theme-dark {
  height: 100%;
}

.validation-error {
  width: 96%;
}

.json-formatter-section {
  flex-basis: 50%;
  flex-grow: 1;

  &:first-of-type {
    padding: 10px 0;
  }

  &:nth-of-type(2) {
    padding: 10px 0;
  }
}

.editor-group {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.json-path-input-group {
  width: 100%;
}

.content {
  margin-top: 10px;
}

.json-editor {
  width: 100%;
}