.mod-section-container-row {
  flex-direction: row !important;
}

.mod-padding-horizontal {
  padding: 0 10px;
}

.mod-padding-vertical {
  padding: 10px 0;
}

.outer-container {
  padding: 0 10px;
  background-color: var(--semi-color-bg-1);
  overflow-y: hidden;
  height: 100%;

  .section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .section {
      height: 100%;

      .section-header {
        .section-header-inner {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
  }
}